name: stat refresher

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: updater
    permissions:
      contents: write

    steps:
      - name: checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          ignore-nothing-to-cache: true
          working-directory: updater
          version: "0.8.24"

      - name: environment setup
        run: uv sync

      - name: execute script
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          HASH_KEY: ${{ secrets.HASH_KEY }}
          USERNAME: ${{ secrets.USERNAME }}
        run: uv run -m src

      - name: commit && push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .. && git commit -m "chore: update stats" && git push
